In [181]:
import pandas as pd
import numpy as np
from random import randrange

In [162]:
df = pd.read_csv("TitanicMess.tsv", sep="\t")

In [83]:
df.dtypes

PassengerId     int64
Survived        int64
Pclass          int64
Name           object
Sex            object
Age            object
SibSp           int64
Parch           int64
Ticket         object
Fare           object
Cabin          object
Embarked       object
ship           object
dtype: object

In [84]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            173
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          685
Embarked         2
ship             0
dtype: int64

In [167]:
df['Age'].unique()

array(['22', '38', '26', '35', 28, '54', '2', '27', '14', '4', '58', '20',
       '55', '31', '34', '15', '8', '19', '40', '66', '28', '42', '21',
       '18', '3', '7', '49', '29', '65', '5', '11', '45', '17', '32',
       '16', '25', '30', '33', '23', '24', '46', '59', '71', '37', '47',
       '12', '9', '51', '44', '1', '61', '56', '50', '36', '62', '41',
       '52', '63', '43', '60', '39', '10', '64', '13', '48', '53', '57',
       '80', '70', '6', '74'], dtype=object)

In [171]:
df['Sex'] = df['Sex'].str.replace(r'\bmalef\b', 'male')
df['Sex'] = df['Sex'].str.replace(r'\bmal\b', 'male')
df['Sex'] = df['Sex'].str.replace(r'\bfem\b', 'female')
df['Sex'] = df['Sex'].str.replace(r'\bfemmale\b', 'female')

In [172]:
age = df['Age']
df.isnull().sum()
df['Age'] = np.where(df['Age'].str.contains('\,'), None, df['Age'])
df['Age'] = np.where(df['Age'].str.contains('\.'), None, df['Age'])
df['Age'] = np.where(df['Age'].str.contains('-'), None, df['Age'])
df['Age'] = np.where(pd.to_numeric(df['Age']) > 120, None, df['Age'])
df.isnull().sum()
nonNull = df['Age'].mask(df['Age'].eq('None')).dropna()
average = nonNull.median().astype(int)
df['Age'].fillna(average, inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          685
Embarked         2
ship             0
dtype: int64

In [176]:
mostCommonEmbarked = df['Embarked'].value_counts()[0]
df['Embarked'].fillna(mostCommonEmbarked, inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          685
Embarked         0
ship             0
dtype: int64

In [177]:
df['Cabin'].value_counts()

G6             6
C93            5
B96 B98        4
C23 C25 C27    4
F2             3
              ..
D9             1
T              1
C30            1
A26            1
C54            1
Name: Cabin, Length: 145, dtype: int64

In [197]:
letters = ['A', 'B', 'C', 'D', 'E', 'F']
def generateCabin():
    letterIndex = randrange(6)
    return letters[letterIndex] + str(randrange(100) + 1)
generateCabin()
df['Cabin'].fillna(mostCommonEmbarked, inplace=True)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
ship           0
dtype: int64